/* Background */
body {
	background-image: url("images/spaceseg.png");
}

/* Text Settings */
@font-face {
  font-family: FixedSys;
  src: url(FSEX300.ttf);
}
p {
	font-size: 1em;
	/* border: 5px solid white;
	padding: 0px; */
	color: white;
	font-family: FixedSys;
	margin: 10px;
	text-align: center;
}
p.small {
	font-size: 0.75em;
	/* border: 5px solid white;
	padding: 0px; */
	color: white;
	font-family: FixedSys;
	margin: 10px;
	text-align: center;
}
pre {
	font-size: 1em;
	/* border: 5px solid white;
	padding: 0px; */
	color: white;
	font-family: FixedSys;
	margin: 10px;
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	color: white;
	font-family: FixedSys;
	text-align: center;
}
code {
	display: inline;
	font-family: FixedSys;
	background-color: dimgray;
	border: 2px solid dimgray;
	border-radius: 3px;
	padding: 1px 1px 1px 1px;
}

/* Links, current settings: lime green text, bold on selection.*/
a.norm:link, a.norm:visited, a.norm:active {
    text-decoration: none;
	color: lime;
}
a.norm:hover {
	font-weight: bold;
}

/*Image Stuff*/
img {
	display: block;
	margin: auto;
}

/* Table Stuff */
a.table:link, a.table:visited, a.table:active  {
    text-decoration: none;
	  color: lime;
}
a.table:hover {
    text-decoration: underline;
}

table {
	color: white;
	text-align: left;
	font-family: FixedSys;
	border: 1px solid white;
	border-collapse: collapse;
}

/* Button Stuff */
.download {
  display: inline-block;
  border-radius: 4px;
  background-color: #BBBBBB;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: FixedSys;
}
.download span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.download span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
  opacity: 0;
}
.download span:after {
	right: -5px;
}
.download:hover span {
	padding-right: 12px;
}
.download:hover span:after {
	opacity: 1;
	right: 0;
}

.download2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #BBBBBB;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: FixedSys;
  font-size: 30px;
	width: 30%;
	height: 50px
}
.download2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.download2:hover span {
	padding-right: 12px;
}
.download2 span:after {
	content: '>';
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
	right: -10px;
}
.download2:hover span:after {
	right: -10px;
	opacity: 1;
}

.download-dis, .download-dis2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #BBBBBB;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: not-allowed;
  margin: 5px;
  opacity: 0.75;
  font-family: FixedSys;
}
.download-dis2 {
	font-size: 30px;
	width: 30%;
	height: 50px;
}

.buttonLinkRound {
	float: left;
	border-radius: 4px;
	background-color: #BBBBBB;
	color: #282828;
	border: 1px solid grey;
	padding: 10px;
	width: 100px;
	margin: 5px;
	text-align: center;
	font-size: 13px;
	text-decoration: none;
	display: inline-block;
	font-family: FixedSys;
}
.buttonLinkRound:hover {
	float: left;
	background-color: #282828;
	color: white;
    cursor: pointer;
}

/* Button Links */
a.buttonLink:link, a.buttonLink:visited {
	float: left;
	background-color: black;
	color: white;
	border: 2px solid grey;
	padding: 13px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: FixedSys;
}
a.buttonLink:hover, a.buttonLink:active {
	float: left;
	background-color: #606060;
	color: white;
}

a.buttonLinkDisabled:link, a.buttonLinkDisabled:visited, a.buttonLinkDisabled:active {
	float: left;
	border-radius: 4px;
	background-color: #BBBBBB;
	color: black;
	font-size: 15px;
	border: none;
	padding: 10px;
	margin: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	opacity: 0.75;
	font-family: FixedSys;
	width: 80px;
}
a.buttonLinkDisabled:hover {cursor: not-allowed;}

a.buttonLinkRound:link, a.buttonLinkRound:visited {
	float: left;
	border-radius: 4px;
	background-color: #BBBBBB;
	color: #282828;
	border: 1px solid grey;
	padding: 10px;
	width: 78px;
	margin: 5px;
	text-align: center;
	font-size: 13px;
	text-decoration: none;
	display: inline-block;
	font-family: FixedSys;
}
a.buttonLinkRound:hover, a.buttonLinkRound:active {
	float: left;
	background-color: #282828;
	color: white;
}
a.buttonLinkConnect:link, a.buttonLinkConnect:visited {
	float: left;
	background-color: black;
	color: white;
	font-size: 13px;
	border: 2px solid grey;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: FixedSys;
}
a.buttonLinkConnect:hover, a.buttonLinkConnect:active {
	float: left;
	background-color: #606060;
	color: white;
}